{% extends 'base.html.twig' %}

{% block title %}Register | Blog{% endblock %}

{% block body %}
    <main class="flex justify-center items-center w-full p-5">
        {{ form_start(registrationForm) }}
            <div class="flex flex-col gap-3">
                <div class="flex flex-col">
                    {{ form_label(registrationForm.avatar) }}
                    <span class="text-white">{{ form_widget(registrationForm.avatar) }}</span>
                    <span class="text-red-600">{{ form_errors(registrationForm.avatar) }}</span>
                </div>
                <div class="flex flex-col">
                    {{ form_label(registrationForm.email) }}
                    <span class="text-black">{{ form_widget(registrationForm.email) }}</span>
                    <span class="text-red-600">{{ form_errors(registrationForm.email) }}</span>
                </div>
                <div class="flex flex-col">
                    {{ form_label(registrationForm.name) }}
                    <span class="text-black">{{ form_widget(registrationForm.name) }}</span>
                    <span class="text-red-600">{{ form_errors(registrationForm.name) }}</span>
                </div>
                <div class="flex flex-col">
                    {{ form_label(registrationForm.plainPassword, "Password") }}
                    <span class="text-black">{{ form_widget(registrationForm.plainPassword) }}</span>
                    <span class="text-red-600">{{ form_errors(registrationForm.plainPassword) }}</span>
                </div>
                
                {{ form_rest(registrationForm) }}

                <div>
                    <input type="submit" value="Register" class="py-1 w-full border border-red-900 text-lg hover:text-red-900 hover:cursor-pointer" />
                </div>
            </div>
        {{ form_end(registrationForm) }}

        {% for message in app.flashes('error') %}
            <span class="text-red-600">
                {{ message }}
            </span>
        {% endfor %}
    </main>
{% endblock %}
